[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
cayed = "6xLHbAHw2ibrmdVEPHm7jDkDmghw3fp3gUCBy511DMKV"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun test --timeout 1000000 tests/cayed.test.ts"
